<div class="one diva">
  <h1>Working set Tracker</h1>
</div>
<div class="grid-container">
  <form [formGroup]="newCardForm" (ngSubmit)="createNewCard()">
    <mat-form-field appearance="outline" class="inputEx" >
      <input formControlName="newExerciseTitle" matInput   placeholder="Exercise name">
      <mat-error *ngIf="newCardForm.invalid">exercise title missing</mat-error>
    </mat-form-field>
  </form>
  <button mat-fab color="accent" (click)="createNewCard()"><mat-icon>add</mat-icon></button>
</div>
<div class="grid-container">
  <div *ngFor="let exercise of (exercises$ |async)" >
    <app-workout-card
    [exercise] = "exercise"
    (setAdded) = "saveData()"
    (cardDeleted) = "deleteCard($event)"
    >
    </app-workout-card>
  </div>
</div>
