<div class="one diva">
  <h1>Working set Tracker</h1>
</div>
<div class="grid-container">
  <mat-form-field appearance="outline" class="inputEx" >
    <input [(ngModel)]="newExerciseTitle" matInput   placeholder="Exercise name">
  </mat-form-field>
  <button mat-fab color="accent" (click)="createNewCard()"><mat-icon>add</mat-icon></button>
</div>
<div class="grid-container">
  <div *ngFor="let exercise of (exercises$ |async)" >
    <app-workout-card
    [exercise] = "exercise"
    (setAdded) = "saveData()"
    (cardDeleted) = "deleteCard($event)"
    >
    </app-workout-card>
  </div>
</div>
